<h2>Cadastrar livro</h2>

<form action="/register/save" method="POST">


<div>
    <label for="">titulo:</label>
    <input type="text" name="title" placeholder="Digite o titulo" id="title">
</div>
<div>
    <label for="">Numero de Paginas</label>
    <input type="number" name="pageqty" placeholder="Quantas paginas o livro possui? " id="pageqty">
</div>

<button> type="submit">Cadastrar </button>
</form>
