<main>
    <h2>home</h2>

    {{#each books}}
    <div class="books">
        <h3>Titulo: {{this.title}}</h3>
        <p>Quantidade de paginas: {{this.pageqty}}</p>
        <a href="/book/{{this.id}}">Ver mais </a>
    </div>
    {{/each}}
</main>